APPSIGNAL_APP_NAME=diamondnode
APPSIGNAL_ENVIRONMENT=production
APPSIGNAL_SERVICE_NAME=diamondnode-host
APPSIGNAL_OTLP_ENDPOINT=14g2tvpd.eu-central.appsignal-collector.net
APPSIGNAL_PUSH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=diamondnode
OPENAI_API_KEY=
